div#memory_board{
    width: 800px;
    height: 540px;
    margin: 0px auto;
    border: 0px;
}
div#memory_board > div{
    background: blue;
    border: #000 1px solid;
    width: 850px;
    height: 850px;
    float: left;
    margin: 15px;
    padding: 20px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
    background-size: cover;
}
